<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#C16148">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="/stylesheets/profileStyle.css"> <!-- Link to the new CSS file -->
    <link href="https://fonts.googleapis.com/css2?family=Inter:slnt,wght@-10..0,100..900&display=swap" rel="stylesheet">
    <title>Soundshift</title>
</head>

<body>
    <center>
        <div class="animated-bg">
            <div class="navbar">
                <a class="soundshiftText" href="/mainpage">soundshift</a>
                <ul>
                    <li><a href="/mainpage">Home</a></li>
                    <li><a href="/search">Search</a></li>
                    <li><a href="/profile/me" style="font-weight: 500;">Profile</a></li>
                </ul>
                <li><a href="/logout">Log Out</a></li>
            </div>

            <div class="content">

                <div class="centerdiv">

                    <div class="profile-picture">
                        <%= userr.username.charAt(0).toUpperCase() %>
                    </div>

                    <h1 class="welcome">Welcome, <%= userr.username %> </h1>

                    <h2 class="location"><%= userr.location %></h2>

                    <div class="bioDiv" style="display: flex; flex-direction: row; justify-content: center; align-items: center; gap: 10px; margin-left: 70px; margin-top: -20px;">
                        <p class="bioText" style="max-width: 500px;"><%= userr.bio %></p>
                        <form id="editBioForm" action="/profile/me/updatebio" method="POST">
                            <input type="hidden" name="id" value="<%= userr.id %>">
                            <input type="hidden" id="newBio" name="bio">
                            <button type="submit" class="bioButton">Edit Bio</button>
                        </form>
                    </div>

                    <div class="linksDiv" style="display: flex; flex-direction: row; justify-content: center; align-items: center; gap: 10px; margin-left: 0px; margin-top: 0px;">
                        <form id="editSpotifyForm" action="/profile/me/updateSpotify" method="POST">
                            <input type="hidden" name="id" value="<%= userr.id %>">
                            <input type="hidden" id="newSpotify" name="spotify">
                            <button type="submit" class="spotifyButton">Spotify</button>
                        </form>
                    
                        <form id="editAMForm" action="/profile/me/updateAM" method="POST">
                            <input type="hidden" name="id" value="<%= userr.id %>">
                            <input type="hidden" id="newAM" name="am">
                            <button type="submit" class="amButton">Apple Music</button>
                        </form>
                    
                        <form id="editSoundcloudForm" action="/profile/me/updateSoundcloud" method="POST">
                            <input type="hidden" name="id" value="<%= userr.id %>">
                            <input type="hidden" id="newSoundcloud" name="soundcloud">
                            <button type="submit" class="soundcloudButton">SoundCloud</button>
                        </form>
                    </div>

                    <div class="subretrDiv">
                    
                        <div class="likedSongsDiv">
                            <h2 class="location"> Liked Songs: </h2>
                            <div class="likedSongs">
                                <% if(likedSongs.length === 0) { %>
                                    <div class="individualLikedSong">None</div>
                                <% } else { %>
                                    <% likedSongs.forEach(function(song) { %>
                                        <% if(song.title && song.artist) { %>
                                            <div>
                                                <a class="individualLikedSong" href="<%=song.spotify_link%>">● <strong><%= song.title %></strong> by <%= song.artist %></a>
                                            </div>
                                        <% } %>
                                    <% }); %>
                                <% } %>
                            </div>
                        </div>
                        
                        <div class="submittedSongsDiv">
                            <h2 class="location"> Submitted Songs: </h2>
                            <div class="submittedSongs">
                                <% if(submittedSongs.length === 0) { %>
                                    <div class="individualLikedSong">None</div>
                                <% } else { %>
                                    <% submittedSongs.forEach(function(song) { %>
                                        <% if(song.title && song.artist) { %>
                                            <div>
                                                <a class="individualLikedSong" href="<%=song.spotify_link%>">● <strong><%= song.title %></strong> by <%= song.artist %></a>
                                            </div>
                                        <% } %>
                                    <% }); %>
                                <% } %>
                            </div>
                        </div>
                        
                        <div class="retrievedSongsDiv">
                            <h2 class="location"> Retrieved Songs: </h2>
                            <div class="retrievedSongs">
                                <% if(retrievedSongs.length === 0) { %>
                                    <div class="individualLikedSong">None</div>
                                <% } else { %>
                                    <% retrievedSongs.forEach(function(song) { %>
                                        <div>
                                            <a class="individualLikedSong" href="<%=song.spotify_link%>">● <strong><%= song.title %></strong> by <%= song.artist %></a>
                                        </div>
                                    <% }); %>
                                <% } %>
                            </div>
                        </div>

                    </div>

                </div>

            </div>

            <div class="footer">
                Made by: <a href="https://github.com/valentino-ivanovski" style="color: inherit;">Valentino
                    Ivanovski</a> for Systems 3 - 2024
                - Welcome, <strong>
                    <%= user.username %>
                </strong>
            </div>

        </div>
        <script>
            document.querySelector('.bioButton').addEventListener('click', function(e) {
                e.preventDefault();
                var newBio = prompt("Please enter your new bio:");
                if (newBio !== null) {
                    document.querySelector('#newBio').value = newBio;
                    document.querySelector('.bioText').textContent = newBio;
                    document.querySelector('#editBioForm').submit();
                }
            });

            document.querySelector('.spotifyButton').addEventListener('click', function(e) {
                e.preventDefault();
                var newSpotify = prompt("Please enter your new Spotify link:");
                if (newSpotify !== null) {
                    document.querySelector('#newSpotify').value = newSpotify;
                    document.querySelector('#editSpotifyForm').submit();
                    document.querySelector('.spotifyButton').style = "background-color: #1DB954";
                }
            });

            document.querySelector('.amButton').addEventListener('click', function(e) {
                e.preventDefault();
                var newAM = prompt("Please enter your new AM link:");
                if (newAM !== null) {
                    document.querySelector('#newAM').value = newAM;
                    document.querySelector('#editAMForm').submit();
                }
            });

            document.querySelector('.soundcloudButton').addEventListener('click', function(e) {
                e.preventDefault();
                var newSoundcloud = prompt("Please enter your new Soundcloud link:");
                if (newSoundcloud !== null) {
                    document.querySelector('#newSoundcloud').value = newSoundcloud;
                    document.querySelector('#editSoundcloudForm').submit();
                }
            });
            </script>
    </center>
</body>